@model MyChat.ViewModels.RegisterVm


@{
    ViewData["Title"]="Регистрация"; 
}

<h2>Регистрация</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="UserName"></label>
    <input asp-for="UserName" class="form-control"/><span asp-validation-for="UserName" class="text-danger"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control"/><span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" class="form-control"/><span asp-validation-for="BirthDate" class="text-danger"></span>

    <label asp-for="Avatar"></label>
    <input asp-for="Avatar" type="file" class="form-control"/>

    <label asp-for="Password"></label>
    <div class="input-group">
        <input asp-for="Password" id="regPwd" class="form-control"/>
        <button type="button" id="toggleRegPwd" class="btn btn-outline-secondary">👁</button>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control"/>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <button class="btn btn-primary mt-2">Зарегистрировать</button>
</form>



@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
    <script>
        document.getElementById('toggleRegPwd').onclick = ()=>{
            const p = document.getElementById('regPwd');
            p.type = p.type === 'password' ? 'text' : 'password';
        }
    </script>
}
